*{
  box-sizing: border-box;
}

.sections{
  border: 2px solid red;
  padding: 10px;
  margin-right: 4%;
  margin-left: 4%;
}

@media (min-width: 992px) {
  body {
    background-color: lightblue;
  }
  .sections{
    width: 28%;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  body{
    background-color: lightgreen;
  }
  .sections:nth-child(1), .sections:nth-child(2){
    width: 44%;
  }
}

@media(max-width: 767px){
  body{
    background-color: pink;
  }
}
